Release
.cproject
.gitignore.swp
.settings/
sloeber.ino.cpp
.gitignore
bin
software/test/build
.project
.cache
software/.cproject
software/.project
software/.settings/
software/HEM_SH.ino
software/sloeber.ino.cpp
software/.DS_Store
software/*.hex
software/.DS_Store
.DS_Store
shelved/
Hemisphere\ Suite.cpp
builds
.pio
